// ========================================================
// Tabs Structural Styles
// ========================================================

.rad-tabs {
  .tab-list {
    display: flex;
    padding: 0;

    .tab-li {
      flex-basis: auto;
      flex-grow: 1;
    }
  }
}

.rad-tabs {
  width: 100%;
  min-height: 200px;
  margin-bottom: 50px;

  .tab-list {
    width: 100%;
    margin-bottom: 0;
  }

  .tab-li {
    margin-bottom: 0;
  }

  .tab {
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $gray-light;

    &.active {
      border: 1px solid $gray-light;
      border-bottom: 1px solid transparent;
    }

    &:focus {
      text-decoration: none;
    }
  }

  .content-container {
    padding: 1.42rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  // Button Style
  // ---------------------------------------------------------------------------
  .button-style {
    .tab-li {
      background-color: #fff;
      border-bottom: 4px solid #0e687a;
    }

    .tab.active {
      background-color: #0e687a;
      border-color: #0e687a;
      color : #fff;
    }
  }
}
